@font-face {
  font-family: kbold;
  src: url(./assets/fonts/KumbhSans-Bold.ttf);
}

@font-face {
  font-family: kmed;
  src: url(./assets/fonts/KumbhSans-Medium.ttf);
}

@font-face {
  font-family: kreg;
  src: url(./assets/fonts/KumbhSans-Regular.ttf);
}

:root {
  /* paint */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);
  /* typo */
}

body {
  background-color: var(--white);
  min-height: 100vh;
}

/* bg color */
.bg-gray {
  background-color: var(--light-grayish-blue);
}

.bg-orange {
  background-color: var(--orange);
}

/* font color */
.text-orange {
  color: var(--orange)
}

.text-gray {
  color: var(--dark-grayish-blue);
}

/* text font */
.kbold {
  font-family: kbold;
}

.kmed {
  font-family: kmed;
}

.kreg {
  font-family: kreg;
}